* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* color: rgb(0, 0, 0); */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

/* !nav styling  */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;

}

nav {
  background-color: rgb(208, 229, 241);
  box-shadow: 0 0 40px rgb(0, 0, 0);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 99;
}

.company-logo  {
  /* width: 120px; */
  font-size: 40px;
}

/* ! ul styling */
ul {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  gap: 29px;
  color: #1c73d0;
}

.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  color: rgb(79, 49, 231);
}

/* ! search bar stlying */
.secrch-bar {
  /* border: 1px solid red; */
  height: 32px;
  gap: 8px;
}

.news-input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 200px;
  color: #727272;
  height: 100%;
  border: none;
  /* padd */
  border-radius: 4px;
  padding-inline: 15px;
  border: 2px solid rgb(171, 168, 230);
}

input:focus {
  outline: none;
}

.search-btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #1c73d0;
  color: white;
  height: 100%;
  padding: 0px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(79, 49, 231);
}

/* !card containet styling*/
main {
  padding-block: 20px;
  margin-top: 80px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
  /* gap: 20px; */
  align-items: start;
}

.card {
  width: 360px;
  min-height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgb(94, 95, 95);
  cursor: pointer;
  background-color: #ffffff;
  overflow: hidden;
  transform: all 0.3 ease;
}

.card:hover {
  box-shadow: 1px 5px 8px rgb(94, 95, 95);
  background-color: #f0f0f4;
  /* transform: translateY(-2px); */
}
.news-desc{
  color: rgb(87, 87, 87);
}
.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

#news-source {
  margin-block: 12px;
}

@media screen and (max-width: 670px) {
  .company-logo {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .main-nav {
    flex-direction: column;
    gap: 20px;
  }
}